<div class="bg-white text-dark p-3 mb-5">
    <h4>Git Settings</h4>
    <form (ngSubmit)="submitForm()" [formGroup]="settingsForm" *ngIf="settingsForm">
        <div class="row mt-3">
            <div class="col-lg">
                <div class="mb-3">
                    <label class="align-self-start">frontendGitlabId</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="frontendGitlabId"
                               placeholder="frontendGitlabId"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">backendGitlabId</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="backendGitlabId"
                               placeholder="backendGitlabId"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">gitlabLoginToken</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="gitlabLoginToken"
                               placeholder="gitlabLoginToken"
                               type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mb-3">
                    <label class="align-self-start">gitlabHost</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="gitlabHost"
                               placeholder="gitlabHost"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">gitlabTargetBranch</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="gitlabTargetBranch"
                               placeholder="gitlabTargetBranch"
                               type="text"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button [disabled]="isSending || !settingsForm.valid"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save settings</span>
            </button>
        </div>
    </form>
</div>
