@import "prebuild";
@import "../variables";

.statistics-wrapper {
  @include media-breakpoint-up(md) {
    margin-top: 5rem;
    h5 {
      font-size: 1.2rem;
    }
  }
}
.statistic-btn {
  height: 2.5rem;
}
.button-wrapper {
  border-radius: 0.5rem;
  &:hover {
    animation: pulsating 0.75s;
  }
}
.icon-wrapper {
  width: 3rem;
  @include media-breakpoint-up(md) {
    width: 1.75rem;
  }
  @include media-breakpoint-up(lg) {
    width: 2rem;
  }
}
@keyframes pulsating {
  from {
    box-shadow: 0 0 0 0 #d5d5d550;
  }
  to {
    box-shadow: 0 0 0 2rem #B2B2B200;
  }
}

@include media-breakpoint-only(xs) {
  .card {
    border-radius: 0;
    margin-bottom: -1.5rem; // Removes pb-4 from main.container
  }
}

@include media-breakpoint-down(sm) {
  :host ::ng-deep fa-layers svg.svg-inline--fa {
    bottom: inherit;
  }
}

.loading-icon {
  height: 129px;
}
