@import "prebuild";

.quiz-list {
  max-height: 50vh;
  overflow-y: auto;
}

#landingPageContent {

  #collapse-quiz-name-datalist {
    right: 0;
    font-size: 2rem;
    border-top-right-radius: $border-radius !important;
  }

  #remove-quiz-name {
    left: 0;
    font-size: 1.3rem;
    border-top-left-radius: $border-radius !important;
  }

  #remove-quiz-name,
  #collapse-quiz-name-datalist {
    top: 0;
    height: 50px;
    width: 36px;
    background: rgba(0, 0, 0, 0.5);

    &:hover, &:focus {
      background: rgba(0, 0, 0, 0.3);
    }

    &:active {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  #name-input-field,
  #server-password-input-field {
    height: 50px;
    line-height: 20px;
  }

  .mathjax-container {
    font-size: 0.9rem;
    fill: #fff;
  }

  .header-label {
    @include media-breakpoint-down(xs) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-up(sm) {
      font-size: 2.8rem;
    }
  }
}

@mixin bg-object-fade-in($animation-delay) {
  animation: bg-object-anim 10s ease-in forwards infinite;
  animation-delay: $animation-delay;
}
.bg-circle-1 {
  top: 20%;
  left: 20%;
  border-radius: 50%;
  @include media-breakpoint-up(lg) {
    @include bg-object-fade-in(0);
  }
}
.bg-circle-2 {
  top: 30%;
  left: 80%;
  border-radius: 50%;
  @include media-breakpoint-up(lg) {
    @include bg-object-fade-in(2s);
  }
}
.bg-circle-3 {
  top: 70%;
  left: 60%;
  border-radius: 50%;
  @include media-breakpoint-up(lg) {
    @include bg-object-fade-in(6s);
  }
}
.bg-cube-1 {
  top: 40%;
  left: 50%;
  @include media-breakpoint-up(lg) {
    @include bg-object-fade-in(4s);
  }
}
.bg-cube-2 {
  top: 70%;
  left: 30%;
  @include media-breakpoint-up(lg) {
    @include bg-object-fade-in(8s);
  }
}
.bg-object {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  position: absolute;
  opacity: 0.25;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
}
@keyframes bg-object-anim {
  from {
    opacity: 0.25;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: scale(10) rotate(720deg) translate(-50%, -50%);
  }
}
