<h4 class="mb-4 text-center">{{'component.member-group-select.title' | translate}}</h4>

<div class="row form-row justify-content-center">
  <div *ngFor="let group of memberGroups" class="col-auto mb-3">
    <div class="btn btn-secondary"
         [innerHTML]="parseNickname(group.name)"
         (click)="addToGroup(group)">
    </div>
  </div>
</div>
