<div class="bg-white text-dark p-3 mb-5">
    <h4>Misc Settings</h4>
    <form (ngSubmit)="submitForm()" [formGroup]="settingsForm" *ngIf="settingsForm">
        <div class="row mt-3">
            <div class="col-lg">
                <div class="mb-3">
                    <label class="align-self-start">chromiumPath</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="chromiumPath"
                               placeholder="chromiumPath"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">projectEmail</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="projectEmail"
                               placeholder="projectEmail"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">logoFilename</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="logoFilename"
                               placeholder="logoFilename"
                               type="text"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button [disabled]="isSending || !settingsForm.valid"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save settings</span>
            </button>
        </div>
    </form>
</div>
