<div class="row">
  <div class="col-12">
    <div class="card cursor-pointer text-dark"
         [routerLink]="['/admin', 'quiz']">
      <div class="card-body">
        <p class="card-text">Quiz Admin</p>
        <p class="card-subtitle">Administrate known quizzes</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card mt-3 cursor-pointer text-dark"
         [routerLink]="['/admin', 'user']">
      <div class="card-body">
        <p class="card-text">User Admin</p>
        <p class="card-subtitle">Administrate current users</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card mt-3 cursor-pointer text-dark"
         [routerLink]="['/admin', 'quiz', 'pool']">
      <div class="card-body">
        <p class="card-text">Quiz-Pool Admin</p>
        <p class="card-subtitle">Administrate Quiz-Pool questions</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card mt-3 cursor-pointer text-dark"
         [routerLink]="['/admin', 'motd']">
      <div class="card-body">
        <p class="card-text">Message of the Day</p>
        <p class="card-subtitle">Manage messages which will be displayed for users who haven't seen them yet.</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card mt-3 cursor-pointer text-dark"
         [routerLink]="['/admin', 'settings']">
      <div class="card-body">
        <p class="card-text">Settings for Clients</p>
        <p class="card-subtitle">Manage settings which will be used by clients.</p>
      </div>
    </div>
  </div>
</div>
