$line-height: (1.75rem * 1.2);
$half-line-height: ($line-height / 2);
$padding: 0.5rem;
$double-padding: ($padding * 2);
$tab-border-radius: 15px;
$outer-border-radius: 4.5px;
$arc-width: $tab-border-radius;
$arc-height: $tab-border-radius;
$arc-width-minus-1: calc(#{$arc-width} - 1px);
$arc-width-minus-1-negated: calc(1px - #{$arc-width});

.team-container {
  background: var(--bg-color);
  margin-top: calc(#{$line-height} + #{$double-padding + $padding}) !important;
}

:host .team-name-header {
  display: inline-block;
  position: absolute;
  border-top-left-radius: $tab-border-radius;
  border-top-right-radius: $tab-border-radius;
  background: var(--bg-color);
  width: unset;
  max-width: calc(100% - #{2 * $outer-border-radius} - #{2 * $arc-width});
  left: calc(#{$arc-width} + #{$outer-border-radius});
  top: calc(#{-$line-height} - #{$double-padding});

  ::ng-deep p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  ::ng-deep img[alt*="emoji_"] {
    width: $line-height;
    height: $line-height;
  }

  &::before {
    content: "";
    position: absolute;
    left: $arc-width-minus-1-negated;
    bottom: 0;
    width: $arc-width;
    height: $arc-height;
    background: radial-gradient(ellipse at 0 0, transparent $arc-width-minus-1, var(--bg-color) $arc-width);
  }

  &::after {
    content: "";
    position: absolute;
    right: $arc-width-minus-1-negated;
    bottom: 0;
    width: $arc-width;
    height: $arc-height;
    background: radial-gradient(ellipse at 100% 0, transparent $arc-width-minus-1, var(--bg-color) $arc-width);
  }
}

.animated-attendee {

  &.new {
    animation: smallBounceIn 2s ease-in-out;
  }

  &.own {
    animation: bounceIn 2s ease-in-out;
  }

  &.remove {
    animation: bounceOut 1s ease-out;
  }
}

@keyframes bounceOut {
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(1.4);
  }
  20% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
}

@keyframes smallBounceIn {
  0% {
    transform: scale(1.3);
  }
  33% {
    transform: scale(0.7);
  }
  66% {
    transform: scale(1.1);
  }
}
