<div class="my-3 d-flex justify-content-between align-items-center">
  <h3 class="mb-0">
    <fa-icon [icon]="'users'"></fa-icon>
    <span class="ml-2">{{attendeeService.getActiveMembers().length}}</span>
  </h3>

  <div class="ml-auto"
       *ngIf="(quizService.isOwner && quizService.quiz?.sessionConfig?.music.enabled.lobby) || (quizService.playAudio && !quizService.isOwner && quizService.quiz?.sessionConfig?.music.shared.lobby)">
    <app-audio-player [config]="musicConfig"></app-audio-player>
  </div>
</div>

<div class="row">
  <ng-container *ngIf="this.teams?.length">
    <div *ngFor="let team of teams"
         [style.--bg-color]="sanitizeHTML(team.color)"
         [style.color]="'#' + sanitizeHTML(ColorTransform.transformForegroundColor(ColorTransform.hexToRgb(team.color)))"
         class="my-1 p-2 rounded d-flex align-items-center flex-wrap w-100 position-relative team-container">
      <div *ngIf="isHtmlNickname(team.name)"
           [innerHTML]="parseNickname(team.name)"
           class="col-12 team-name-header p-2"></div>
      <div *ngIf="!isHtmlNickname(team.name)"
           class="col-12 team-name-header p-2 h3">
        <p>{{team.name}}</p>
      </div>
      <ng-container *ngIf="!getMembersForTeam(team.name)?.length">
        <div class="col-12">
          <p class="text-center d-flex align-self-center h4 m-2">{{'component.lobby.waiting_for_players' | translate}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="getMembersForTeam(team.name)?.length">
        <p class="p-2 col-sm-6 col-md-4 col-lg-3 text-center animated-attendee"
           *ngFor="let elem of getMembersForTeam(team.name)"
           (click)="openKickMemberModal(removeMemberModal, elem.attendee.name)"
           [class.remove]="elem.isRemoved"
           [class.new]="elem.isNew"
           [class.own]="attendeeService.ownAttendee && attendeeService.ownAttendee.name === elem.attendee.name"
           [class.cursor-pointer]="quizService.isOwner">
          <span *ngIf="attendeeService.ownAttendee && attendeeService.ownAttendee.name === elem.attendee.name">
            {{'component.lobby.you' | translate}}
          </span>
          <span *ngIf="isHtmlNickname(elem.attendee.name)"
                [innerHTML]="parseNickname(elem.attendee.name)"></span>
          <span *ngIf="!isHtmlNickname(elem.attendee.name)">{{elem.attendee.name}}</span>
        </p>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="!this.teams?.length">
    <ng-container *ngIf="!getMembersForTeam()?.length">
      <div class="col-12">
        <h3 class="text-center center-top d-flex align-self-center">{{'component.lobby.waiting_for_players' | translate}}</h3>
      </div>
    </ng-container>
    <ng-container *ngIf="getMembersForTeam()?.length">
      <div *ngFor="let elem of getMembersForTeam()"
           [class.remove]="elem.isRemoved"
           [class.new]="elem.isNew"
           [class.own]="attendeeService.ownAttendee && attendeeService.ownAttendee.name === elem.attendee.name"
           class="my-1 col-sm-6 col-md-4 col-lg-3 d-flex animated-attendee">
        <div (click)="openKickMemberModal(removeMemberModal, elem.attendee.name)"
             [class.cursor-pointer]="quizService.isOwner"
             [style.background-color]="sanitizeHTML('#' + elem.attendee.colorCode)"
             [style.color]="'#' + sanitizeHTML(ColorTransform.transformForegroundColor(ColorTransform.hexToRgb('#' + elem.attendee.colorCode)))"
             class="p-2 rounded d-flex justify-content-center align-items-center w-100">
          <p class="flex-grow-1 break-word text-center">
            <span *ngIf="attendeeService.ownAttendee && attendeeService.ownAttendee.name === elem.attendee.name">
              {{'component.lobby.you' | translate}}
            </span>
            <span *ngIf="isHtmlNickname(elem.attendee.name)"
                [innerHTML]="parseNickname(elem.attendee.name)"></span>
            <span *ngIf="!isHtmlNickname(elem.attendee.name)">{{elem.attendee.name}}</span>
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #removeMemberModal
             let-c="close"
             let-d="dismiss">
  <div class="modal-header">
    <button (click)="d()"
            aria-label="Close"
            class="close cursor-pointer"
            data-dismiss="modal"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p class="d-inline-flex">
      <span *ngIf="isHtmlNickname(nickToRemove)"
            [innerHTML]="'component.lobby.kick_member_confirmation' | translate:{NAME: parseNickname(nickToRemove)}"></span>
      <span *ngIf="!isHtmlNickname(nickToRemove)">{{'component.lobby.kick_member_confirmation' | translate:{NAME: nickToRemove} }}</span>
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="kickMember(nickToRemove)"
            class="btn btn-danger mr-auto"
            data-dismiss="modal"
            type="button">{{'global.yes' | translate}}</button>

    <button (click)="d()"
            class="btn btn-info"
            data-dismiss="modal"
            type="button">{{'global.no' | translate}}</button>

  </div>
</ng-template>
