<h4 class="text-center mb-5">
  <span *ngIf="isViewingOwnQuizzes">{{'component.public-quizzes.own.title' | translate}}</span>
  <span *ngIf="!isViewingOwnQuizzes">{{'component.public-quizzes.title' | translate}}</span>
</h4>

<h5 *ngIf="!availablePublicQuizzes.length"
    class="text-center">{{'component.public-quizzes.none-available' | translate}}</h5>

<div class="row">
  <div class="col-md-6"
       *ngFor="let quiz of availablePublicQuizzes; let i = index">
    <div class="card mb-2">
      <div class="card-body">
        <div class="d-flex">
          <fa-icon *ngIf="isViewingOwnQuizzes"
                   class="ml-auto cursor-pointer"
                   [title]="'component.public-quizzes.own.remove' | translate"
                   [icon]="'times'"
                   (click)="removeQuiz(i)"></fa-icon>
          <fa-icon *ngIf="!isViewingOwnQuizzes"
                   class="ml-auto cursor-pointer"
                   (click)="copyQuiz(i)"
                   [icon]="'copy'"
                   [title]="'component.public-quizzes.copy' | translate"></fa-icon>
        </div>
        <h5 class="card-title">{{'component.public-quizzes.name' | translate}}&nbsp;{{quiz.name}}</h5>
        <p class="card-subtitle text-muted mb-2" [innerHTML]="customMarkdownService.parseGithubFlavoredMarkdown(quiz.description)"></p>
        <p class="card-text">{{'component.public-quizzes.features' | translate}}</p>
        <ul>
          <li>{{'component.public-quizzes.number-of-questions' | translate}}&nbsp;{{quiz.questionList.length}}</li>
        </ul>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 readonly
                 #quizLinkInput
                 [value]="getQuizLink(i)"/>
          <div class="input-group-append">
            <button (click)="copyQuizLink(quizLinkInput)"
                    [title]="'component.public-quizzes.copy' | translate"
                    class="btn btn-primary">
              <fa-icon [icon]="'copy'"
                       class="cursor-pointer"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
