.progress {
  line-height: 40px;
  height: 40px;

  > div {
    overflow: visible;
    justify-content: unset;

    .rocket {
      min-width: 9em;
      width: calc(100% - 0.75em);
      height: 1px;
      position: relative;
      overflow: visible;
      transition: width 1s ease-in-out;
      animation: slideIn 1s ease-in-out;

      &::after {
        content: "🚀";
        font-size: 7em;
        line-height: 0.35;
        position: absolute;
        transform: rotate(45deg);
        right: 0;
      }
    }
  }

}


@keyframes slideIn {
  0% {
    width: 9em;
  }
  100% {
    width: calc(100% - 0.75em);
  }
}
