<div class="bg-white text-dark p-3 mb-5">
    <h4>Enviroment Settings</h4>
    <form (ngSubmit)="submitForm()" *ngIf="settingsForm" [formGroup]="settingsForm">
        <div class="row mt-3">
            <div class="col-lg">
                <div class="mb-3">
                    <label class="align-self-start">title</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control custom-select" formControlName="title">
                            <option *ngFor="let title of titles" [value]="title">{{title}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">appName</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="appName"
                               placeholder="appName"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">sentryDSN</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="sentryDSN"
                               placeholder="sentryDSN"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">backendVersion</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="backendVersion"
                               placeholder="backendVersion"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">leaderboardAmount</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="leaderboardAmount"
                               placeholder="leaderboardAmount"
                               type="number"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">leaderboardAlgorithm</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control custom-select" formControlName="leaderboardAlgorithm">
                            <option *ngFor="let algo of leaderBoardAlgorithms" [value]="algo">{{algo}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">defaultTheme</label>
                    <div class="input-group input-group-sm">
                        <select class="form-control custom-select" formControlName="defaultTheme">
                            <option *ngFor="let theme of availableThemesKeyStrings" [value]="theme">{{theme}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">vapidPublicKey</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="vapidPublicKey"
                               placeholder="vapidPublicKey"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">markdownFilePostfix</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="markdownFilePostfix"
                               placeholder="markdownFilePostfix"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">loginButtonLabelConfiguration</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="loginButtonLabelConfiguration"
                               placeholder="loginButtonLabelConfiguration"
                               type="text"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="align-self-start">limitActiveQuizzes</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="limitActiveQuizzes"
                               placeholder="limitActiveQuizzes"
                               type="number"/>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label>loginMechanisms (multi select)</label>
                        <select class="form-control overflow-auto" formControlName="loginMechanism" multiple>
                            <option *ngFor="let loginMechanism of loginMechanismKeyStrings"
                                    [value]="loginMechanism">{{loginMechanism}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label>availableQuizThemes (multi select)</label>
                        <select class="form-control overflow-auto" formControlName="availableQuizThemes" multiple>
                            <option *ngFor="let theme of availableThemesKeyStrings" [value]="theme">{{theme}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.enableBonusToken" class="custom-control-input"
                               formControlName="enableBonusToken"
                               id="enableBonusToken"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="enableBonusToken">enableBonusToken</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.readingConfirmationEnabled" class="custom-control-input"
                               formControlName="readingConfirmationEnabled"
                               id="readingConfirmationEnabled"

                               type="checkbox"

                        >
                        <label class="custom-control-label"
                               for="readingConfirmationEnabled">readingConfirmationEnabled</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.confidenceSliderEnabled" class="custom-control-input"
                               formControlName="confidenceSliderEnabled"
                               id="confidenceSliderEnabled"

                               type="checkbox"

                        >
                        <label class="custom-control-label"
                               for="confidenceSliderEnabled">confidenceSliderEnabled</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.infoAboutTabEnabled" class="custom-control-input"
                               formControlName="infoAboutTabEnabled"
                               id="infoAboutTabEnabled"
                               type="checkbox">
                        <label class="custom-control-label" for="infoAboutTabEnabled">infoAboutTabEnabled</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.infoProjectTabEnabled" class="custom-control-input"
                               formControlName="infoProjectTabEnabled"
                               id="infoProjectTabEnabled"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="infoProjectTabEnabled">infoProjectTabEnabled</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.infoBackendApiEnabled" class="custom-control-input"
                               formControlName="infoBackendApiEnabled"
                               id="infoBackendApiEnabled"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="infoBackendApiEnabled">infoBackendApiEnabled</label>
                    </div>
                </div>
                <div class="mb-3">

                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.requireLoginToCreateQuiz" class="custom-control-input"
                               formControlName="requireLoginToCreateQuiz"
                               id="requireLoginToCreateQuiz"

                               type="checkbox"

                        >
                        <label class="custom-control-label"
                               for="requireLoginToCreateQuiz">requireLoginToCreateQuiz</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.forceQuizTheme" class="custom-control-input"
                               formControlName="forceQuizTheme"
                               id="forceQuizTheme"

                               type="checkbox">
                        <label class="custom-control-label" for="forceQuizTheme">forceQuizTheme</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.showLoginButton" class="custom-control-input"
                               formControlName="showLoginButton"
                               id="showLoginButton"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="showLoginButton">showLoginButton</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.showJoinableQuizzes" class="custom-control-input"
                               formControlName="showJoinableQuizzes"
                               id="showJoinableQuizzes"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="showJoinableQuizzes">showJoinableQuizzes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.showPublicQuizzes" class="custom-control-input"
                               formControlName="showPublicQuizzes"
                               id="showPublicQuizzes"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="showPublicQuizzes">showPublicQuizzes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.persistQuizzes" class="custom-control-input"
                               formControlName="persistQuizzes"
                               id="persistQuizzes"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="persistQuizzes">persistQuizzes</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.darkModeCheckEnabled" class="custom-control-input"
                               formControlName="darkModeCheckEnabled"
                               id="darkModeCheckEnabled"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="darkModeCheckEnabled">darkModeCheckEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.enableQuizPool" class="custom-control-input"
                               formControlName="enableQuizPool"
                               id="enableQuizPool"

                               type="checkbox"

                        >
                        <label class="custom-control-label" for="enableQuizPool">enableQuizPool</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.twitterEnabled" class="custom-control-input"
                               formControlName="twitterEnabled"
                               id="twitterEnabled"
                               type="checkbox">
                        <label class="custom-control-label"
                               for="twitterEnabled">twitterEnabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.cacheQuizAssets" class="custom-control-input"
                               formControlName="cacheQuizAssets"
                               id="cacheQuizAssets"
                               type="checkbox">
                        <label class="custom-control-label"
                               for="cacheQuizAssets">cacheQuizAssets</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.createQuizPasswordRequired" class="custom-control-input"
                               formControlName="createQuizPasswordRequired"
                               id="createQuizPasswordRequired"
                               type="checkbox">
                        <label class="custom-control-label"
                               for="createQuizPasswordRequired">createQuizPasswordRequired</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-switch input-group-sm">
                        <input [checked]="settings.config.showInfoButtonsInFooter" class="custom-control-input"
                               formControlName="showInfoButtonsInFooter"
                               id="showInfoButtonsInFooter"
                               type="checkbox">
                        <label class="custom-control-label"
                               for="showInfoButtonsInFooter">showInfoButtonsInFooter</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button [disabled]="isSending || !settingsForm.valid"
                    class="btn btn-primary"
                    type="submit">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save settings</span>
            </button>
        </div>
    </form>
</div>
