@import "prebuild";

.input-group {
  .form-control {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  @include media-breakpoint-only(xs) {
    .input-group-append {
      width: 100%;
    }

    button,
    input[type="text"],
    input[type="password"] {
      border-radius: 0.25rem;
      width: 100%;
    }
  }
}

.color-picker {
  height: 40px;
  width: 100%;

  &:disabled {
    opacity: 1;
  }
}

:host ::ng-deep ngb-typeahead-window {
  border: 5px solid var(--invers);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
